/* ==========================================================================
   FOOTER
   ========================================================================== */
footer {
  padding: 20px 0;
  background: #212122;
  color: #ffffff;
}